/* TODO: My portfolio should have at least one media query. */

/* TODO: The height of the welcome section should be equal to the height of the viewport. */

/* TODO: The navbar should always be at the top of the viewport. */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}